@font-face {
  font-family: Yekan;
  src: url(./../public/font/iranyekanwebregular.e31c09af.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yekan', sans-serif;
  user-select: none;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #eee;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #0078c7;
  /* border-radius: 1px; */
  width: 5px;
}